<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SINPE Empresarial - Banco Los Patitos</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    🏦 SINPE Empresarial
                </a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">

                    <ul class="navbar-nav me-auto">

                    

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Comercio" asp-action="Index">
                                Comercios
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cajas" asp-action="Index">
                                Cajas
                            </a>
                        </li>

                    

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Bitacora" asp-action="Index">
                                Bitácora
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="text-center mt-5 mb-3 text-muted">
        © 2026 Banco Los Patitos - SINPE Empresarial
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>